/* your styles go here */

.width {
  font-size: 3rem;
}

.white {
  color: white;
}

.margin2 {
  margin-bottom: 2rem;
}

@media screen and (min-width: 1500px) {
  img.me {
    max-width: 200%;
  }
}

@media screen and (min-width: 375px) {
  .margin {
    margin-bottom: 1.6rem;
  }
  .margin2 {
    margin-bottom: 1rem;
  }
}
